@*Шаблон для тображения рендера находится в ~\HandyHost\Models\RenderModel.cs*@
<script id="render-user-error" type="text/x-jsrender">
    <div class="col-xs-1 text-center">
        {{if RenderMessage != null}}
        <span>{{: RenderMessage}}</span>
        {{else statusText != null}}
        <span>{{: statusText}}</span>
        {{/if}}
    </div>

</script>